main {
  display: flex;
}

nav {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

a {
  width: 35%;
  max-width: 150px;
  padding: 5%;
  border-radius: 10%;
  display: flex;

  &:focus,
  &:hover {
    img {
      transform: scale(1.1);
      transition: transform 0.2s ease-in-out;
    }
  }
}

img {
  width: 100%;
}

.recipes-image {
  padding: 10%;
}
