<main>
  <nav>
    <a mat-flat-button routerLink="/recipes" ariaCurrentWhenActive="page">
      <div class="background"></div>
      <img src="../../assets/recipes.png" alt="Rezepte" class="recipes-image" />
    </a>
    <a mat-flat-button routerLink="/shoppingList" ariaCurrentWhenActive="page">
      <div class="background"></div>
      <img src="../../assets/shopping-list.png" alt="Einkaufsliste" />
    </a>
    <a mat-flat-button routerLink="/foodstuffs" ariaCurrentWhenActive="page">
      <div class="background"></div>
      <img src="../../assets/foodstuffs.png" alt="Lebensmittel" />
    </a>
  </nav>
</main>
