@import "../../../styles/styles.scss";

main {
  display: flex;
}

nav {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

a {
  max-width: 8rem;
  border-radius: 15%;
  background-color: $element-background-color;
  box-shadow: $element-box-shadow;
  position: relative;
  display: flex;

  &:focus,
  &:hover {
    img {
      transform: scale(1.1);
      transition: transform 0.2s ease-in-out;
    }
  }
}

img {
  width: 100%;
  padding: 10%;
  z-index: 1;
}
