<div class="amounts-mat-step" [formGroup]="amountsFormGroup">
  <mat-form-field appearance="fill">
    <mat-label>Portionen</mat-label>
    <input matInput type="number" formControlName="servings" />
  </mat-form-field>

  <div class="amounts-wrapper" formArrayName="amounts">
    @for(amount of amounts.controls; track amount){
    <div class="amount-wrapper" formGroupName="{{ $index }}">
      <button mat-icon-button color="warn" (click)="removeAmount($index)">
        <mat-icon
          aria-hidden="false"
          aria-label="Löschen"
          fontIcon="close"
        ></mat-icon>
      </button>

      <app-ingredient-field [foodstuffs]="foodstuffs" [index]="$index" />
    </div>
    }
  </div>

  <div class="amounts-array-buttons-wrapper">
    <button
      mat-stroked-button
      color="accent"
      (click)="addAmount()"
      class="add-amount-button"
    >
      Hinzufügen
    </button>
    <button
      mat-stroked-button
      color="accent"
      (click)="openCreateFoodstuffDialog()"
      class="create-foodstuff-button"
    >
      Erstellen
    </button>
  </div>
</div>
