<form class="form" [ngClass]="showSearch() ? 'show' : 'hide'">
  <mat-form-field class="search-field">
    <input
      #searchValueField
      [value]="searchValue()"
      (input)="onSeachValueChanged(searchValueField.value)"
      (selectionchange)="onSeachValueChanged(searchValueField.value)"
      placeholder="Name oder Ersteller*in suchen ..."
      matInput
      [matAutocomplete]="search"
    />
    @if(searchValue() != ''){
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchValue.set('')"
      class="medium-size-button"
    >
      <mat-icon color="warn">close</mat-icon>
    </button>
    }
    <mat-autocomplete #search="matAutocomplete">
      @if(filteredNames().size > 0){
      <mat-optgroup label="Namen">
        @for (name of filteredNames(); track name) {
        <mat-option [value]="name">{{ name }}</mat-option>
        }
      </mat-optgroup>
      } @if(filteredOrigins().size > 0){
      <mat-optgroup label="Ersteller*innen">
        @for (origin of filteredOrigins(); track origin) {
        <mat-option [value]="origin">{{ origin }}</mat-option>
        }
      </mat-optgroup>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>

<button
  mat-mini-fab
  (click)="onSearchButtonClicked()"
  class="search-button medium-size-button"
>
  <mat-icon aria-hidden="false" aria-label="Suchen" fontIcon="search" />
</button>
