@import "../../../../styles/styles.scss";
@import "../../../../styles/mat-button-styles.scss";

:host {
  flex: 1;
  border-radius: var(--mdc-filled-text-field-container-shape);
  position: relative;
  overflow: hidden;

  ::ng-deep .mat-mdc-text-field-wrapper {
    --mdc-filled-text-field-container-shape: var(
      --mdc-fab-small-container-shape
    );
    height: calc($standard-font-size * 2.75); // button size
    border-radius: var(--mdc-filled-text-field-container-shape) !important;
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    background-color: $element-background-color !important;
  }

  ::ng-deep .mat-mdc-form-field-flex {
    height: inherit;
    padding: 0 calc($standard-font-size * 2.75) 0 0; // button size
    align-items: center;
  }

  ::ng-deep .mdc-line-ripple {
    display: none !important;
  }

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}

.form {
  display: flex;
  transition: transform $transform-duration ease-out;

  &.hide {
    transform: translateX(100%);
  }
}

mat-form-field {
  --mat-form-field-container-text-size: #{$standard-font-size};
  --mat-form-field-container-text-line-height: #{$standard-font-size};
  --mdc-filled-text-field-label-text-size: #{$standard-font-size};
  --mat-form-field-container-height: 0;
}

.search-field {
  flex: 1;
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
}
