<!-- loading -->
@if(loadingDisplayedRecipes() == true){
<div class="spinner-wrapper">
  <mat-spinner diameter="25" />
</div>
}

<!-- error -->
@else if(errorLoadingDisplayedRecipes() == true) {
<p>Ein Fehler ist aufgetreten</p>
}

<!-- loaded -->
@else if(loadingDisplayedRecipes() == false && errorLoadingDisplayedRecipes() ==
false) {

<!-- recipes -->
@if(displayedRecipes().length > 0){
<div class="grid" [style.--columns]="displayedColumns()">
  @for(recipe of displayedRecipes(); track recipe.id){
  <app-recipes-grid-element
    [recipe]="recipe"
    (click)="router.navigate(['recipes', recipe.id])"
  />
  }
</div>
}

<!-- no recipes -->
@else{
<p class="no-recipes">Keine passenden Rezepte gefunden</p>
} }
