@import "../../../../styles/styles.scss";

.spinner-wrapper {
  display: grid;
  place-items: center;
  width: 100%;
}

.grid {
  --columns: 2;

  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 0.5rem;
}

.no-recipes {
  font-size: $standard-font-size;
}
