:host {
  /* stretch hole page */
  display: inline-block;
  height: 100%;
  width: 100%;
}

main,
article {
  /* stretch hole page */
  height: 100%;
  width: 100%;
}

main {
  position: relative;
}

article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
}

.spacer {
  flex: 0 0 5rem;
}
img {
  flex: 0 0 40%;
}

.buttons-wrapper {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  display: flex;
  gap: 0.5rem;
}
