<main>
  @if(recipe !== null){
  <article>
    <!-- replace check for existence of recipe with loading -->
    <!-- @if(recipe.image){
        <img [src]="recipe.image" class="image" />} @else { -->
    <img src="../../assets/icons/hide_image.svg" class="no-image" />
    <!-- } -->

    <app-ingredients-grid [recipe]="recipe" />
    <app-steps-grid [recipe]="recipe" />
    <app-recipe-macro-chart [recipe]="recipe" />
    <div class="spacer"></div>
  </article>

  <div class="buttons-wrapper">
    <button mat-mini-fab (click)="openPatchRecipeDialog()">
      <mat-icon
        aria-hidden="false"
        aria-label="edit icon"
        fontIcon="edit"
      ></mat-icon>
    </button>

    <button mat-mini-fab color="warn" (click)="openDeleteRecipeDialog()">
      <mat-icon
        aria-hidden="false"
        aria-label="delete icon"
        fontIcon="delete"
      ></mat-icon>
    </button>
  </div>
  }@else {
  <p>Rezept nicht gefunden</p>
  }
</main>
