:host {
  /* stretch hole page */
  display: inline-block;
  height: 100%;
  width: 100%;
}

main,
article {
  /* stretch hole page */
  height: 100%;
  width: 100%;
}

article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

img {
  flex: 0 0 40%;
}

.buttons-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: end;
}
