@import "./styles.scss";

mat-card {
  --mdc-elevated-card-container-shape: 1rem;
  --mat-card-title-text-line-height: #{$headline-font-size};
  --mat-card-title-text-size: #{$headline-font-size};
  --mat-card-subtitle-text-line-height: #{$standard-font-size};
  --mat-card-subtitle-text-size: #{$standard-font-size};
  --mdc-elevated-card-container-color: #{$element-background-color};
  display: flex;
  flex-direction: column;
}

mat-card-content {
  padding: 0 1rem 1rem;
  font-size: $standard-font-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image,
.no-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

mat-card-header {
  padding: 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

mat-card-title {
  height: 1lh;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-card-subtitle {
  height: 1lh;
  padding: 0.25rem 0 0 !important;
  opacity: 0.5;
}
