.canvas-wrapper {
  display: grid;
  place-items: center;
}

canvas {
  max-width: 30rem;
  max-height: 30rem;
}

.spacer {
  height: 0.5rem;
}

.legend {
  width: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.incomplete-message {
  margin: 0;
  padding: 1.5rem 0 0;
}
