<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Nährwerte</mat-card-title>
      <mat-card-subtitle>pro Portion</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <!-- chart -->
      @if(recipe.carbs != null && recipe.protein != null && recipe.fat != null){
      <div class="chart-wrapper">
        <div class="canvas-wrapper">
          @if(chart != null){
          <canvas id="canvas">{{ chart() }}</canvas>
          } @if(recipe.kcal != null){
          <div class="kcal-wrapper">
            <p class="kcal">{{ recipe.kcal }} kcal</p>
          </div>
          }
        </div>
        <div class="spacer"></div>
        <div class="legend">
          <app-legend-element [legendElement]="legend['carbs']()" />
          <app-legend-element [legendElement]="legend['protein']()" />
          <app-legend-element [legendElement]="legend['fat']()" />
        </div>
      </div>
      }

      <!-- no chart -->
      @if(recipe.carbs == null || recipe.protein == null || recipe.fat == null){
      <p class="incomplete-message">
        Nährwertangaben der einzelnen Zutaten unvollständig.
      </p>
      }
    </mat-card-content>
  </mat-card>
</div>
