:host {
  min-width: 0;
}

.ingredient-expansion-panel {
  flex: 1;
}

.ingredient-fields-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 0 0.5rem;
}

.foodstuff-field {
  flex: 1;
}

/* .amount-field {
  flex: 0 0 6rem;
} */

/* remove arrows from input number field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* remove arrows from input number field */
input[type="number"] {
  -moz-appearance: textfield;
}
