<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Zutaten</mat-card-title>
      <mat-card-subtitle>{{ recipe().servings }} Portionen</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="grid">
        @if(isLoading == false && hasError == false){ @for(ingredient of
        recipe().ingredients; track ingredient.index){
        <span>{{ ingredient.name }}</span>
        <span>{{ ingredient.amount }}</span>
        <span>{{ ingredient.unitVerbose }}</span>
        } @if (recipe().ingredients.length == 0) {
        <span class="no-ingredients">Keine Zutaten vorhanden</span>
        } } @if(isLoading == false && hasError == true){
        <span class="error">Ein Fehler ist aufgetreten</span>
        }
      </div>
    </mat-card-content>

    <mat-card-footer>
      @if(isLoading == true){
      <mat-progress-bar mode="query" />
      }
    </mat-card-footer>
  </mat-card>
</div>
