.grid {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  gap: 1rem;
  padding: 1.5rem 0;
}

.progress-bar-wrapper {
  margin: 0 5px;
}

.no-ingredients,
.error {
  grid-column: span 3;
}
