@import "../../../../styles/mat-card-styles.scss";

mat-card {
  gap: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem 0.75rem;
}

.no-steps {
  grid-column: span 2;
}
