@if(ingredient !== undefined){ @for(field of displayedFields; track field){
<p>{{ ingredient[field] }}</p>
} }

<div class="buttons-wrapper">
  <button mat-icon-button (click)="openEditIngredientDialog()">
    <mat-icon
      aria-hidden="false"
      aria-label="Bearbeiten"
      fontIcon="edit"
    ></mat-icon>
  </button>

  <button mat-icon-button color="warn" (click)="openDeleteIngredientDialog()">
    <mat-icon
      aria-hidden="false"
      aria-label="Löschen"
      fontIcon="delete"
    ></mat-icon>
  </button>
</div>
