@import "../../../../styles/styles.scss";

:host {
  ::ng-deep .mat-mdc-card-header-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

mat-card {
  --mdc-elevated-card-container-shape: 10%;
  --mat-card-title-text-line-height: calc($headline-font-size + 0.1rem);
  --mat-card-title-text-size: #{$headline-font-size};
  --mat-card-subtitle-text-line-height: calc($standard-font-size + 0.1rem);
  --mat-card-subtitle-text-size: #{$standard-font-size};
  --mdc-elevated-card-container-color: #{$element-background-color};
}

mat-card-content {
  padding: 10% 10% 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image,
.no-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

mat-card-header {
  padding: 0 10% 10% 10%;
}

mat-card-title {
  height: 2lh;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-card-subtitle {
  height: 1rem;
}
