@import "../../../../styles/mat-card-styles.scss";

mat-card-content {
  padding: 1rem 1rem 0 !important;
}

mat-card-header {
  padding: 0 1rem 1rem !important;
}

mat-card-subtitle {
  height: 1lh;
}
