@import "../../../styles/styles.scss";
@import "../../../styles/mat-button-styles.scss";

:host {
  /* stretch hole page */
  display: inline-block;
  height: 100%;
  width: 100%;
}

main {
  /* stretch hole page */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
}

.grid-wrapper {
  flex: 1;
  overflow-y: auto;
}

app-recipes-grid::after {
  content: "";
  display: block;
  height: 5rem;
}

.fade-effect-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.2rem;
  background-color: var(--mat-app-background-color);
  box-shadow: 0 -1rem 1rem 1rem var(--mat-app-background-color);
  pointer-events: none;
  transition: opacity $transform-duration ease-out;

  &.hide {
    opacity: 0;
  }
}

.bottom-elements {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  width: calc(100% - 2 * $floating-button-position);
  max-width: 30rem;
  position: absolute;
  right: $floating-button-position;
  bottom: $floating-button-position;
}
