@import "../../../styles/styles.scss";

:host {
  /* stretch hole page */
  display: inline-block;
  height: 100%;
  width: 100%;
}

main {
  /* stretch hole page */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
}

app-recipes-grid-control {
  flex: 0;
}

.grid-wrapper {
  flex: 1;
  overflow-y: auto;
}

app-recipes-grid::after {
  content: "";
  display: block;
  height: 5rem;
}

app-recipes-grid-create-recipe {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
}
