<main>
  <nav>
    @for(customUser of customUsers; track customUser.id){
    <mat-card>
      <mat-card-content
        (click)="activeCustomUserService.activeCustomUser = customUser"
      >
        <img src="../../assets/icons/hide_image.svg" />

        <mat-card-title>{{ customUser.username }}</mat-card-title>
      </mat-card-content>
    </mat-card>
    }
  </nav>

  <button
    mat-mini-fab
    (click)="openUserCreateDialog()"
    class="create-user-button"
  >
    <mat-icon aria-hidden="false" aria-label="Hinzufügen" fontIcon="add" />
  </button>
</main>
