main {
  height: 100dvh;
  width: 100dvw;
  display: grid;
  place-items: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

mat-card:hover {
  cursor: pointer;
}

img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
