<table mat-table [dataSource]="displayedItemIngredients()">
  @for (field of displayedFields(); track field) {

  <!-- isChecked -->
  @if(field == 'isChecked'){
  <ng-container matColumnDef="isChecked">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let itemIngredient">
      <app-shopping-list-table-checkbox [itemIngredient]="itemIngredient" />
    </td>
  </ng-container>
  }

  <!-- isPinned -->
  @else if (field == 'isPinned') {
  <ng-container [matColumnDef]="field">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let itemIngredient">
      <app-shopping-list-table-pin-button [itemIngredient]="itemIngredient" />
    </td>
  </ng-container>
  }

  <!-- amount + unit -->
  @else if (field == 'amount') {
  <ng-container [matColumnDef]="field">
    <th mat-header-cell *matHeaderCellDef>
      {{ displayedVerboseNames()[field] }}
    </th>
    <td mat-cell *matCellDef="let itemIngredient">
      {{ itemIngredient[field] + " " + itemIngredient["unitVerbose"] }}
    </td>
  </ng-container>
  }

  <!-- properties -->
  @else{
  <ng-container [matColumnDef]="field">
    <th mat-header-cell *matHeaderCellDef>
      {{ displayedVerboseNames()[field] }}
    </th>
    <td mat-cell *matCellDef="let itemIngredient">
      {{ itemIngredient[field] }}
    </td>
  </ng-container>
  }}

  <tr mat-header-row *matHeaderRowDef="displayedFields(); sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedFields()"></tr>
</table>

<!-- no items -->
@if(displayedItemIngredients().length == 0){
<p>Deine Einkaufsliste ist leer</p>
}
