@if(loadingDisplayedRecipes() == true){
  <div class="spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  }
  
@if(loadingDisplayedRecipes() == false && errorLoadingDisplayedRecipes() == false) {
<section class="grid-wrapper">
  <app-recipes-grid-controls [recipes]="displayedRecipes" />

  <div class="grid" [style.--columns]="displayedColumns()">
    @for(recipe of displayedRecipes(); track recipe.id){
    <app-recipes-grid-element
      [recipe]="recipe"
      (click)="router.navigate(['recipes', recipe.id])"
    />
    }
  </div>
  @if(displayedRecipes().length == 0){
    <p>Keine passenden Rezepte gefunden</p>
  }

  <div class="button-wrapper">
    <button mat-icon-button (click)="openCreateRecipeDialog()">
      <mat-icon
        aria-hidden="false"
        aria-label="Hinzufügen"
        fontIcon="add"
      ></mat-icon>
    </button>
  </div>
</section>
}