mat-card {
  --mdc-elevated-card-container-shape: 0.1rem;
  --mdc-elevated-card-container-color: transparent;
}

.legend-content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
}

.color-indicator {
  --color: transparent;
  flex: 0 0 0.5rem;
  height: 1.5rem;
  background-color: var(--color);
  border-radius: 0.1rem;
}

p {
  margin: 0;
}

.spacer {
  flex: 1 0 0;
}

.percentage-content {
  padding: 0.5rem;
}
