@if(verboseNames != null){
<table mat-table [dataSource]="displayedFoodstuffs()">
  @for (field of displayedFields(); track field) {

  <!-- edit + delete -->
  @if(field == 'actions'){
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let foodstuff">
      <div class="buttons-wrapper">
        <button mat-icon-button (click)="openEditFoodstuffDialog(foodstuff)">
          <mat-icon
            aria-hidden="false"
            aria-label="Bearbeiten"
            fontIcon="edit"
          ></mat-icon>
        </button>

        <button
          mat-icon-button
          color="warn"
          (click)="openDeleteFoodstuffDialog(foodstuff)"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Löschen"
            fontIcon="delete"
          ></mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <!-- foodstuff properties -->
  }@else{
  <ng-container [matColumnDef]="field">
    <th mat-header-cell *matHeaderCellDef>{{ verboseNames[field] }}</th>
    <td mat-cell *matCellDef="let foodstuff">{{ foodstuff[field] }}</td>
  </ng-container>
  }}

  <tr mat-header-row *matHeaderRowDef="displayedFields()"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedFields()"></tr>
</table>
}@else {
<span>could not fetch verbose names</span>
}

<div class="button-wrapper">
  <button mat-icon-button (click)="openCreateFoodstuffDialog()">
    <mat-icon
      aria-hidden="false"
      aria-label="Hinzufügen"
      fontIcon="add"
    ></mat-icon>
  </button>
</div>
