.ingredients-mat-step {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ingredients-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &:empty {
    display: none;
  }
}

.ingredient-wrapper {
  display: flex;
}

.ingredients-array-buttons-wrapper {
  display: flex;
  justify-content: stretch;
  gap: 0.5rem;
}

.add-ingredient-button {
  flex: 2;
  flex: 1 0 50%;
}

.create-foodstuff-button {
  flex: 1;
}

.button-wrapper {
  padding: 0 24px 24px;
  display: flex;

  button {
    flex: 1;
  }
}

/* remove arrows from input number field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* remove arrows from input number field */
input[type="number"] {
  -moz-appearance: textfield;
}
