nav {
  display: flex;
  gap: 0.5rem;

  a {
    height: fit-content;
    width: fit-content;
    padding: 5%;
    border-radius: 10%;
  }

  img {
    width: 100%;

    &:focus,
    &:hover {
      transform: scale(1.1);
      transition: transform 0.2s ease-in-out;
    }
  }
}
