<form>
  <mat-form-field class="search-field">
    <mat-label>Suche</mat-label>
    <input
      #searchValueField
      placeholder="Name oder Marke suchen ..."
      matInput
      [value]="searchValue()"
      (input)="OnSeachValueChanged(searchValueField.value)"
      (selectionchange)="OnSeachValueChanged(searchValueField.value)"
      [matAutocomplete]="search"
    />
    @if(searchValue() != ''){
    <button
      matSuffix
      mat-icon-button
      aria-label="Löschen"
      (click)="searchValue.set('')"
    >
      <mat-icon color="warn">close</mat-icon>
    </button>
    }
    <mat-autocomplete autoActiveFirstOption #search="matAutocomplete">
      @if(filteredNames().size > 0){
      <mat-optgroup label="Namen">
        @for (name of filteredNames(); track name) {
        <mat-option [value]="name">{{ name }}</mat-option>
        }
      </mat-optgroup>
      } @if(filteredBrands().size > 0){
      <mat-optgroup label="Marken">
        @for (brand of filteredBrands(); track brand) {
        <mat-option [value]="brand">{{ brand }}</mat-option>
        }
      </mat-optgroup>
      }
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="filter-field">
    <mat-label>Filter</mat-label>
    <mat-select
      #filterValueField
      (selectionChange)="OnFilterValueChanged(filterValueField.value)"
      [value]="filterValue()"
      placeholder="Einheit auswählen ..."
      single
    >
      <mat-option>Alle</mat-option>
      @if(unitChoices){@for(choice of getKeys(unitChoices); track choice) {
      <mat-option [value]="choice">{{ unitChoices[choice] }}</mat-option
      >} }
    </mat-select>
  </mat-form-field>
</form>
