@import "../../../styles/styles.scss";

:host {
  /* stretch hole page */
  display: inline-block;
  height: 100%;
  width: 100%;
}

main {
  /* stretch hole page */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.spinner-wrapper,
.error-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

app-foodstuffs-table-control {
  flex: 0;
}

.table-wrapper {
  flex: 1;
  overflow-y: auto;
}

app-foodstuffs-table::after {
  content: "";
  display: block;
  height: 5rem;
}

app-foodstuffs-table-create-foodstuff {
  position: absolute;
  bottom: $floating-button-position;
  right: $floating-button-position;
}
